<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Initial Section
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="courses-panel">
    <h3>All Courses</h3>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="beginners">
        Beginners
      </ion-segment-button>
      <ion-segment-button value="advanced">
        Advanced
      </ion-segment-button>
    </ion-segment>
  
    <div *ngIf="selectedSegment === 'beginners'">
      <ion-card *ngFor="let course of beginnerCourses" class="course-card">
        <ion-card-header>
          <ion-card-title>{{course?.description}}</ion-card-title>
        </ion-card-header>
        <ion-img [src]="course.iconUrl"></ion-img>
        <ion-card-content>
          <p>{{course.longDescription}}</p>
        </ion-card-content>
        <ion-button expand="block" color="primary" [routerLink]="['/course', course.id]">
          VIEW COURSE
        </ion-button>
        <ion-button expand="block" color="secondary" (click)="editCourse(course)">
          EDIT
        </ion-button>
      </ion-card>
    </div>
  
    <div *ngIf="selectedSegment === 'advanced'">
      <ion-card *ngFor="let course of advancedCourses" class="course-card">
        <ion-card-header>
          <ion-card-title>{{course?.description}}</ion-card-title>
        </ion-card-header>
        <ion-img [src]="course.iconUrl"></ion-img>
        <ion-card-content>
          <p>{{course.longDescription}}</p>
        </ion-card-content>
        <ion-button expand="block" color="primary" [routerLink]="['/course', course.id]">
          VIEW COURSE
        </ion-button>
        <ion-button expand="block" color="secondary" (click)="editCourse(course)">
          EDIT
        </ion-button>
      </ion-card>
    </div>
  </div>
  
</ion-content>
