<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Initial Section
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="courses-panel">
    <h3>All Courses</h3>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="beginners">
        Beginners
      </ion-segment-button>
      <ion-segment-button value="advanced">
        Advanced
      </ion-segment-button>
    </ion-segment>
  
    <div *ngIf="selectedSegment === 'beginners'">
      <app-courses-card-list [courses]="beginnerCourses$ | async">
      </app-courses-card-list>
    </div>
  
    <div *ngIf="selectedSegment === 'advanced'">
      <app-courses-card-list [courses]="advancedCourses$ | async">
      </app-courses-card-list>
    </div>
  </div>
  
</ion-content>
