<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      contentId="main-content"
      type="overlay"
      side="start"
      menuId="start"
      [style.border-right]="
        showSidebarMenu || showSidebarMenuForProject ? 'none' : ''
      "
      [style.max-width]="
        showSidebarMenu || showSidebarMenuForProject ? '10%' : ''
      "
    >
  <ion-router-outlet></ion-router-outlet>
</ion-menu>
<ion-menu contentId="main-content" type="overlay" side="end" menuId="end">
  <ion-content>
    <ion-list id="inbox-list">
      <ion-menu-toggle auto-hide="false"> </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
</ion-app>
